<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>聚餐</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>火锅</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>001</string>
						<key>name</key>
						<string>渝利火锅</string>
						<key>title</key>
						<string>渝利火锅是一家专营火锅的餐厅。
餐馆类型编辑
川味火锅
适宜商务宴请、休闲小憩、随便吃吃、情侣约会、家庭聚会、朋友聚餐 特色服务：有最低消费，可以刷卡，有包厢，有停车位，提供在线菜单，有下午茶，有夜宵，有wifi。</string>
						<key>image</key>
						<string>yuli.jpg</string>
					</dict>
					<dict>
						<key>id</key>
						<string>002</string>
						<key>name</key>
						<string>豆捞坊</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>003</string>
						<key>name</key>
						<string>小辉哥火锅</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>004</string>
						<key>name</key>
						<string>海底捞</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>烧烤</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>005</string>
						<key>name</key>
						<string>圣火营BBQ</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>006</string>
						<key>name</key>
						<string>新石器烤肉</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>007</string>
						<key>name</key>
						<string>野人岛烤肉</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>西餐</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>008</string>
						<key>name</key>
						<string>Mr Nice</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>009</string>
						<key>name</key>
						<string>豪享来</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>010</string>
						<key>name</key>
						<string>必胜客</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>011</string>
						<key>name</key>
						<string>萨莉亚</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>茶餐厅</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>012</string>
						<key>name</key>
						<string>阿宝家的茶餐厅</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>013</string>
						<key>name</key>
						<string>表叔茶餐厅</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>014</string>
						<key>name</key>
						<string>避风塘</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>家常菜</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>015</string>
						<key>name</key>
						<string>望湘园</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>016</string>
						<key>name</key>
						<string>胖哥俩肉蟹煲</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>017</string>
						<key>name</key>
						<string>东北一家人</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>甜品</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>018</string>
						<key>name</key>
						<string>满记甜品</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>019</string>
						<key>name</key>
						<string>陈记甜品</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>KTV</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>包间</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>020</string>
						<key>name</key>
						<string>大包</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>021</string>
						<key>name</key>
						<string>中包</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>022</string>
						<key>name</key>
						<string>小包</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>桌游</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>桌游店铺</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>023</string>
						<key>name</key>
						<string>逻辑密室桌游馆</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>024</string>
						<key>name</key>
						<string>密室逃脱</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>025</string>
						<key>name</key>
						<string>fullhouse</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>026</string>
						<key>name</key>
						<string>游卡桌游</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>027</string>
						<key>name</key>
						<string>天鹅堡</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>桌游游戏</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>028</string>
						<key>name</key>
						<string>三国杀</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>029</string>
						<key>name</key>
						<string>狼人</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>030</string>
						<key>name</key>
						<string>天黑请闭眼</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>031</string>
						<key>name</key>
						<string>UNO</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
					<dict>
						<key>id</key>
						<string>032</string>
						<key>name</key>
						<string>大富翁</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>旅游</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>别墅度假区</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>风景游</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>033</string>
						<key>name</key>
						<string>云南</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
						<key>url</key>
						<string>http://baike.baidu.com/link?url=HhCPipGrz2k0WpPZFC25k80D-UwCgyUB91l7nbRZfAgf8nrLlFgnx0KAJgNhkSB_bSilKTq7ntdpOr9PsrwGbxuAv71R4Eua1_gZ7bDZ56C</string>
					</dict>
					<dict>
						<key>id</key>
						<string>034</string>
						<key>name</key>
						<string>海南</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
						<key>url</key>
						<string>http://baike.baidu.com/subview/9008/6107386.htm</string>
					</dict>
					<dict>
						<key>id</key>
						<string>035</string>
						<key>name</key>
						<string>国外小岛</string>
						<key>title</key>
						<string>推荐理由</string>
						<key>image</key>
						<string></string>
						<key>url</key>
						<string>http://baike.baidu.com/view/407127.htm</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>农家乐</string>
				<key>items</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
